.research-tabs-container,
.gallery-research-tabs-container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  border-top: 1px solid black;
}

.gallery-research-tabs-container {
  border-top: none;
}

.tabs,
.gallery-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow-y: hidden; /* Hide horizontal scroll */
}

.tab {
  cursor: pointer;
  align-items: center;
  position: relative;
  font-size: 2rem;
  margin: 0;
  color: #a0a0a0; /* Lighter gray color for non-selected tabs */
  transition: color 0.3s ease-in-out;
}

.tab:hover {
  color: #707070; /* Darker gray color on hover */
}

.tab.active {
  color: #006400; /* Green color for active tab */
}

.tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 3px;
  background-color: #006400; /* Green underline */
  transition: width 0.3s ease-in-out;
  width: 100%;
}

.cards .content {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  margin-top: 50px;
  margin-bottom: 50px;
}
.summary-content {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* --summary tab-- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

.left-box,
.right-box {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right-box ol {
  padding-left: 20px;
}

.right-box li {
  margin-bottom: 10px; /* 10px gap between each bullet point */
}

/* Responsive adjustments for screens smaller than a laptop */
@media (max-width: 1024px) {
  .summary-content {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .summary-content {
    font-size: 0.8rem;
  }
  .gallery-tabs {
    width: 100%;
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevents line breaks */
    padding: 1 10px; /* Adds padding to ensure scrollability */
    display: flex;
    justify-content: flex-start;
  }
  .tab {
    font-size: 1.5rem;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }

  .tab-content .content {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .summary-content {
    font-size: 0.7rem;
  }
}

@media (max-width: 360px) {
  .summary-content {
    font-size: 0.4rem;
  }
}
