/*---------contact-------------*/
.contact {
  margin: 20px 0;
  backdrop-filter: blur(10px);
}
.contact .right,
.contact .left {
  padding: 20px;
}
.contact .flex input:nth-child(1) {
  margin-right: 10px;
}
.contact button,
.contact textarea,
.contact input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  margin: 10px 0;
  border-radius: 5px;
}
/* .heading {
  font-size: 30px;
  color: #e0a80d;
  text-align: center;
  margin-bottom: 20px;
} */
.contact .container {
  max-width: 80%;
  margin: auto;
}
.flexsb {
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
}
.box {
  margin-top: 15px;
}
.box p {
  color: #e0a80d;
  font-size: 15px;
  line-height: 25px;
  margin: 20px 0;
}
.box i {
  color: #fff;
}
.submit {
  font-size: 17px;
  background-color: #e0a80d;
  color: #fff;
  padding: 15px 50px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}
/*---------contact-------------*/
@media screen and (max-width: 768px) {
  .left {
    width: 40%;
  }
  .box p {
    font-size: 13px;
  }
}
