/*---------contact-------------*/
.contact {
  background-color: #797979;
}
.contact .right,
.contact .left {
  padding: 20px;
}
.contact .flex input:nth-child(1) {
  margin-right: 10px;
}
.contact button,
.contact textarea,
.contact input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  margin: 10px 0;
  border-radius: 5px;
}
.contact .container {
  max-width: 80%;
  margin: auto;
}
.flexsb {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}
.box {
  margin-top: 15px;
}
.box p {
  color: #f5be26;
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
  margin: 20px 0;
  /* word-wrap: break-word; */
}
.box i {
  color: #fff;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  border: 1px solid black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); /* Horizontal, Vertical, Blur, Shadow Color */
}

.contact-submit {
  font-size: 18px;
  background-color: #e0a80d;
  color: #fff;
  padding: 15px 50px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: color 0.5s; /* Smooth transition effect */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.contact-submit:hover {
  background-color: #f5be26;
  color: #fff;
}
.error {
  color: red;
  font-size: 12px;
}
/*---------contact-------------*/
@media screen and (max-width: 500px) {
  .contact .left {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .left {
    width: 40%;
  }
  .box p {
    font-size: 13px;
  }
  .box p.email {
    word-wrap: break-word;
  }
}
