.about-hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin-top: 25px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.about-text-container {
  position: absolute;
  left: 63.52%;
  top: 45.11%;
  width: 25.41%;
  height: 58.16%;
  color: #fff;
  z-index: 1;
  overflow: hidden;
  text-align: left;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start (left for LTR languages) */
}

.about-text-container p {
  margin-bottom: 20px;
  font-style: italic;
}

/* Large Screens: 2560px */
@media only screen and (max-width: 2560px) {
  .about-text-container p {
    font-size: 26px;
  }
}

/* 2240px */
@media only screen and (max-width: 2240px) {
  .about-text-container p {
    font-size: 23px;
  }
}

/* Smaller Screens: 1920px (Standard HD) */
@media only screen and (max-width: 1920px) {
  .about-text-container p {
    font-size: 18px;
  }
}
/* 1680px */
@media only screen and (max-width: 1680px) {
  .about-text-container p {
    font-size: 18px;
  }
}

/* 1440px (Some Desktop Displays) */
@media only screen and (max-width: 1440px) {
  .about-text-container p {
    font-size: 15px;
  }
}
/* 1280px */
@media only screen and (max-width: 1280px) {
  .about-text-container p {
    font-size: 14.5px;
  }
}

/* 1024px (Tablets Landscape) */
@media only screen and (max-width: 1024px) {
  .about-text-container p {
    font-size: 14px;
  }
}
.about-text-container {
  top: 50.11%;
}

/* 896px */
@media only screen and (max-width: 896px) {
  .about-text-container {
    top: 55.11%;
  }
  .about-text-container p {
    font-size: 13.5px;
  }
}
/*--------------------------------------------------------
/* 768px (Tablets Portrait) */
@media only screen and (max-width: 768px) {
  .about-text-container {
    top: 60.11%;
    height: 38.16%;
    left: 50%;
    width: 45.41%;
  }
  .about-text-container p {
    font-size: 13px;
    justify-content: center;
  }
}
/* 480px (Mobile Landscape) */
@media only screen and (max-width: 480px) {
  .about-text-container p {
    font-size: 11px;
  }
}

/* 320px (Mobile) */
@media only screen and (max-width: 320px) {
  .about-text-container p {
    font-size: 10px;
  }
}

/* Smallest size: 300px (Very small mobile screens) */
@media only screen and (max-width: 300px) {
  .about-text-container p {
    font-size: 9px;
  }
}
